<% provide(:title,"about")%>

<div class=" col-md-8  bg-primary">
</div>
<div class="row">
  <div class="col-md-8 ">
    <div class="row">
      <div class="col-md-offset-2">
        <em><h1>About</h1></em>
        <div>

          <p class="lead text-danger">这个小小的webApp,是我一段时间内自学的成果.</p>
          <p class="text-left">开发环境：<a href="http://www.ubuntu.com/index_kylin">Ubuntu14.04</a></p>
          <p class="text-left">开发工具：<a href="http://www.jetbrains.com/ruby/">Rubymine</a>
            <a href="http://www.jetbrains.com/webstorm/">webStrom</a></p>
          <p class="text-left">后台语言：<a href="http://rubyonrails.org/">Ruby on Rails</a></p>
          <p class="text-left">前端语言：<a href="http://www.apjs.net/">AngularJS</a> </p>
          <p class="text-left">页面布局： <a href="http://www.bootcss.com/">Bootstrap响应式布局</a></p>
          <p class="text-left">版本控制：<a href="http://baike.baidu.com/link?url=2IF5mAz-VnTv--QB8YVDba2NjLG48WXfQ_MraoJGdcMcHJAYA_GZ1uLBkCOHvktIEhK_bBHucG_hvozjI_3mHhxKXLA6XGEPdSEOe6zmGTC">Git</a></p>
          <p class="text-left"> 远程仓库：<a href="https://bitbucket.org/">Bitbucket</a></p>
          <p class="text-left"> 生产环境: <a href="https://dashboard.heroku.com">Heroku</a></p>
          <p class="text-left"></p>
          <p class="lead text-danger">开发过程</p>
          <div class="text-warning texts">
            之前有想过用java的SSH框架来写后台，毕竟之前学了这么久的java，想做点东西来练练手。
            寒假在家开始写的时候发现如果用java写的话，一个人很难在较短时间内完成，并且写的过程
            中有许许多多的问题解决不来。涉及到了框架的底层源码，我决定换一种语言来写，于是我开
            始学Ruby on rails（一门强大的语言）不过国内学习ruby的人很少，资料也不多。
            去图书馆找的最新的还是13年出版的关于ruby1.9，rails3.0版本的，奈何ruby on rails 版本
            不向下兼容，只能学最新版本没办法，在网上买了Ruby最新版本的电子书教程。老外写的，讲的比较深。
          </div>

          <div class="text-warning texts">
            刚开始学习的时候，有许许多多的莫名其妙的开发环境问题
            之前在Windows下连环境都搭建不起来，转到云端开发环境下学习了几天，不过云端开发响应慢，内存小，不流畅。没办法，转到Linux下玩吧，
            刚开始，我是在Windows下用虚拟机装了个Ubuntu系统，很顺利的搭建了rails开发环境。不过不得不吐槽我这渣渣I3笔记本，
            开了虚拟机巨卡，内存直接使用95%，在卡卡的Ubuntu上玩了一个星期，有一次卡死了，我直接关了电源，结果导致了Ubuntu系统直接崩溃，
            虚拟机打不开了，白费我花了几个小时搭建的环境。又得另想办法了。只好清理出一个盘来做压缩卷，
            然后在Windows的基础上装了一个并行的Ubuntu系统，也就是双系统。然后就一直在Ubuntu下开发，顺便学习Linux知识。
            从3.3号开始学习，到现在差不多一个月的时间。对Ruby Rails AngularJS Jquery  Bootstrap都只是入门了而已，并没有深入的学习，
            也是通过写这个APP我才接触到这么多东西，以前只会写点简单的Html PHP。写这个APP我最大的收获就是，知道了自己有太多的东西不懂了，
            知道自己需要更加努力的学习，同时也增强了自己的自学能力。
          </div>
          <p class="lead"><em>2015.3.29</em> </p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class=" col-md-8  bg-primary">
</div>

