
<%provide(:title,"changetx") %>

<div class="row bg-success" >
  <div class="col-md-10 col-md-offset-1">

    <div id='slider' class='swipe'>
      <div class='swipe-wrap'>

        <div>
          <div class="lead bottomtext">由于本网站的头像关联至gravatar，我们需要登录到gravatar网站进行修改，
            而gravatar被国家防火墙屏蔽了，我们需要翻墙才能登录，下面的教程会教大家怎么翻墙到
            gravatar网站修改头像
          </div>
          <%= link_to image_tag("a1.png",alt: "join us")%>
          <div class="text-danger text-left bottomtext">
            Gravatar是Globally Recognized Avatar的缩写,是gravatar推出的一项服务
            ，意为“全球通用头像”（已被墙）。如果在Gravatar的服务器上放置了你自己
            的头像，那么在任何支持Gravatar的blog或者留言本上留言时，
            只要提供你与这个头像关联的email地址，就能够显示出你的Gravatar头像来

          </div>
        </div>



        <div>
          <div class="lead">第一步：准备翻墙工具VPN；白鸽VPN
            下载地址：<a href="http://bgvpn.cn/">http://bgvpn.cn/</a>
            下载后安装在本地电脑
          </div>
          <%= link_to image_tag("a2.png",alt: "join us")%>
          <div class="text-danger">
            我们利用白鸽VPN提供的新用户注册送1小时体验时间来完成修改头像，当然如果平时我们需要翻墙
            上一些其他网站也可以的，VPN客户端有注册的功能，每次使用时临时注册一个新用户，可以获得一个小时的VPN服务
            或者还可以选择一些其他翻墙方式，例如谷歌GoAgent。
          </div>
        </div>


        <div>
          <div class="lead">
            第二步：  当VPN客户端与服务器连接成功后，我们就可以浏览被防火墙墙的网站了，
            如<a href="www.facebook.com">Facebook</a>;
            <a href="https://www.youtube.com">You to be</a>（全球最大的视频网站）
            当然也可以登录<a href="en.gravatar.coma">gravatar</a>修改头像
          </div>
          <%= link_to image_tag("a3.png",alt: "join us")%>
          <div class="text-danger" >
            登录<a href="en.gravatar.coma">gravatar</a>之后我们需要注册一个账号，Eail就是你在本站注册时使用的Eail
            因为你的头像上传的路径是由你的Eail地址通过哈希算法得到的，本站获取头像就是通过你注册时的Eail的哈希到gravatar
            服务器获取，如果Eail不一致，将获取不到
          </div>
        </div>

        <div>
          <div class="lead">第三步，注册成功之后我们需要上传头像了，头像大小由你自己选择，
            不过本站为了头像统一，对获取的头像做了一些处理，统一为80Px.
          </div>
          <%= link_to image_tag("a4.png",alt: "join us")%>
          <div class="text-danger">
            上传成功之后就可以打开本站的首页看看自己的头像是否变成了你上传在gravatar上的头像
          </div>
        </div>


      </div>
      <div class="slider-control">
        <button type="button" class="btn btn-primary"onclick="mySwipe.prev()">上一步</button>
        <button type="button" class="btn btn-success" onclick="mySwipe.next()">下一步</button>
      </div>
      <script>
          window.mySwipe = Swipe(document.getElementById('slider'));
      </script>
    </div>



  </div>
</div>

