<% provide(:title,"connect")%>

<div class=" col-md-8  bg-primary">
</div>
<div class="row">
  <div class="col-md-8 ">
    <div class="row">
      <div class="col-md-offset-2">
        <em><h1 class="text-danger">JOIN US</h1></em>
        <div>
          <%= link_to image_tag("joinus.jpg",alt: "join us")%>
        </div>
        <div>
          <p class="text-left text-warning"> QQ: 1243228706</p>
          <p class="text-left text-warning"> Email:1243228706@qq.com</p>
          <p class="text-left text-danger lead">说明:</p>
          <p class="text-left text-warning texts">
            如果你对WEB开发感兴趣，想学习WEB开发方面的知识，欢迎你加入我们，我会把这个网站的
            源码放在GitUP上，你可以联系我获取源代码，然后我们大家一起将这个小小的APP逐渐完善。
            不管你想写前端，还是后台。加入我们，你会学习到怎么通过git进行项目的版本控制，通过gitup的开源服务
            多个人协同开发一个项目，学习到一些最新最前沿的WEB开发技术。如果你还是一个人在闷头自学，毫无头绪，
            不知道方向，加入我们，一起学习，一起进步。通过团队学习，提高学习效率！！
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class=" col-md-8  bg-primary">
</div>

