<% provide(:title,"help")%>

<div class=" col-md-8  bg-primary">
</div>
<div class="row">
  <div class="col-md-8 ">
    <div class="row">
      <div class="col-md-offset-2">
        <em><h1 class="text-danger">Help</h1></em>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <p class="text-success">新用户注册</p>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <p class="text-left text-warning" >
                  点击首页的Sing up图标，待跳转到注册页面后输入注册信息。
                  用户名长度在5-10位，密码长度为6—10位。Email则填写您常用的Email。
                  信息输入准确后点击立即注册即可完成注册。网页会自动跳转到您的资料页面。

                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 <p class="text-success">发表微博</p>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p class="text-left text-warning">
                  登录之后，点击导航栏的首页即可跳转到首页，您可以在首页的文本输入框内输入1000个字符以内的字符，
                  输入框可以上下升缩，您可以通过上下拖动鼠标升缩。当然，您也可以上传图片，大小限制在5M以内，
                  如果超过5M，将会提示错误。上传之后，您可以在首页即时看到您发表的微博，提醒一下，您也可以关注其他用户，
                  当其他用户发表微博的时候，您可以在您的即时的在您首页看到。同样的，如果其他用户关注了您，
                  您发表的微博也会在其他用户首页显示。
                </p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                 <p class="text-success">修改头像</p>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p class="text-left text-warning">
                登录之后，点击帐号管理的下拉菜单，选择修改头像，将会看到修改头像的详细教程。
                您照着教程就可以完成修改头像功能。如果遇到什么问题，你也可以联系我们解决
                </p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class=" col-md-8  bg-primary">
</div>






