<%provide(:title,"home") %>
<div class="center jumbotron">

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info'%>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form'%>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>
        Micropost Feed
      </h3>
      <%= render 'shared/feed' %>
    </div>

  </div>

<% else %>


<h1>Welcome to the BAJOROR</h1>
<h2>
  this is the home page for
  <a href="#">BAJOROR</a>
  please click the button to sing up
</h2>
  <%= link_to "sing up now!", sigup_path, class: "btn btn-lg btn-primary" %>
  </div>
<%= link_to image_tag("rails.jpg",alt: "Rails logo"),
                        'http://rubyonrails.org'   %>
<p class="text-primary">
    点击右上角的帮助页面获取更多信息
</p>

  <% end %>



