<%provide(:title,"news") %>
<div class=" col-md-8  bg-primary">
</div>
<div class="row">
  <div class="col-md-8 ">
    <div class="row">
      <div class="col-md-offset-2">
        <em><h1 class="text-danger">通知</h1></em>
        <div class="text-warning text-left">
          版本：1.0.0
          暂无升级通知
        </div>

      </div>
    </div>
  </div>
</div>

<div class=" col-md-8  bg-primary">
</div>
