<% provide(:title," Log in")%>
<h1>登录</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:session,url: login_path) do |f| %>
    <%=f.label :Email %>
        <%=f.text_field :email,class:"form-control "%>
        <%=f.label :密码 %>
        <%=f.password_field :password ,class:"form-control" %>
        <%= f.label :remember_me,class:"checkbox line" do%>
        <%= f.check_box :remember_me %>
            <span>
              记住密码
            </span>
            <% end %>

        <%= f.submit "登录", class: "btn btn-primary" %>
    <% end %>
    <p>
     新用户?<%=link_to "立即注册" ,sigup_path%>
    </p>
  </div>
</div>
