<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete },
    remote: true) do |f| %>
    <%= f.submit "取消关注", class: "btn btn-danger" %>
<% end %>