<li>
  <%= gravatar_for user,size: 80 %>
   <%= link_to user.name, user%>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "删除",user,method: :delete,
            data:{confirm:"are you sure?"}
    %>
  <% end %>
</li>
