
<%= provide(:title,'Sign up')%>
<h1 class="text-success">新用户注册</h1>
<div class = "row">
  <div class="col-md-4 col-md-offset-4">
    <%=form_for(@user) do |f|%>
        <%= render 'shared/error_messages',object: f.object  %>
        <%= f.label :用户名%>
        <%= f.text_field :name, class:'form-control'%>
        <%= f.label :eamil%>
        <%= f.text_field :email, class:'form-control'%>
        <%= f.label :密码%>
        <%= f.password_field :password , class:'form-control'%>
        <%= f.label :确认密码%>
        <%= f.password_field :password_confirmation , class:'form-control'%>
        <%= f.submit " 立即注册",class:"btn btn-primary"%>
        <% end %>
  </div>

</div>

