<%= link_to gravatar_for(current_user,size:120),current_user%>
<h3 class="text-success"><%= current_user.name %></h3>

<span><%=link_to "查看我的资料",current_user %></span>
<span><%=pluralize(current_user.microposts.count,"micropost") %></span>