<footer  class="footer">
  <small>
    <a href="http://rubyonrails.org/">Ruby on Rails  </a>
    <a href="http://www.bootcss.com/">Bootstrap  </a>
    <a href="http://www.apjs.net/">AngularJS </a>
  </small>
  <nav>
    <ul>
    <li><%= link_to "关于" ,about_path%></li>
    <li><%= link_to "加入我们" ,connect_path%></li>
    <li><%= link_to "通知" ,news_path%></li>

    </ul>

  </nav>
</footer>