<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "BAJOROR",root_path,id: "logo"%>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "首页" , root_path%></li>
        <li><%= link_to "帮助" , help_path%></li>
        <% if logged_in? %>
            <li><%= link_to "所有用户" ,users_path%></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                帐号管理<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "我的资料" ,current_user %></li>
                <li><%= link_to "修改头像" ,changetx_path%></li>
                <li class="divider"></li>
                <li>
                  <%=link_to "退出",logout_path,method: "delete" %>
                </li>
              </ul>
            </li>
            <% else %>
            <li><%= link_to "登录" ,login_path%></li>
            <% end %>
      </ul>
    </nav>
  </div>
</header>